@model DashboardMaker.Models.ColorPalette

<style>
	#color-box {
		width: 100px;
		height: 100px;
		border: 1px solid #000;
	}
</style>
@using (Html.BeginForm("SaveColorPalette", "YourControllerName", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<label for="color-picker">Choose a color:</label>
	<input type="color" id="color-picker" name="selectedColor" onchange="updateColor(this.value)">

	<div id="color-box"></div>
	<p id="color-code"></p>

	<button type="submit">Save Color</button>
}

<script>
	function updateColor(color) {
		// Update color box
		document.getElementById('color-box').style.backgroundColor = color;

		// Display color code
		document.getElementById('color-code').innerText = 'Hexadecimal: ' + color;

		// Set the selected color in a hidden field for submission
		document.getElementById('selected-color-field').value = color;
	}
</script>

