<link rel="stylesheet" href="~/css/sideBar.css" />

<div class="sidebar">
	<a class="active">Dashboard Maker</a>
    <select id="dashboardDropdown" class="form-control"></select>
	<a href="/Dashboard/Create">New Dashboard</a>
    <a href="/Visualization/Create">New Visualization</a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/api/Dashboard/GetUserDashboards')
            .then(response => {
                return response.json();
            })
            .then(data => {
                populateDropdown(data);
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    });

    function populateDropdown(data) {
        const dropdown = document.getElementById('dashboardDropdown');
        data.forEach(item => {
            const option = new Option(item.title, item.id);
            dropdown.add(option);
        });
    }
</script>



